---
import { cn } from "../../../lib/utils";
import { Icon } from "../icon";
const props = Astro.props;
---

<>
  <h3
    {...props}
    class={cn(props.class, "relative cursor-pointer group mt-12")}
    data-copy={`${Astro.url}#${props.id}`}
  >
    <a
      href={`#${props.id}`}
      class="absolute left-[-1.7ch] top-[0.3ch] h-8 w-8 text-slate-900 opacity-0 transition hover:text-white group-hover:opacity-100"
      aria-hidden="true"
    >
      <Icon.hash />
    </a>
    <slot />
  </h3>
</>
