@font-face {
  font-family: 'Grimoire';
  src: url('/fonts/Grimoire.eot');
  src: url('/fonts/Grimoire.eot?#iefix') format('embedded-opentype'), url('/fonts/Grimoire.woff2') format('woff2'),
    url('/fonts/Grimoire.woff') format('woff'), url('/fonts/Grimoire.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Grimoire', sans-serif;
  margin: auto;
  text-align: left;
  background-color: #040404;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #fff;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}
