---
import BaseHead from '../components/BaseHead.astro';
import Links from '../components/Links.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MainLayout from '../layouts/MainLayout.astro';
import heroImage from '../assets/hero2.jpg';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainLayout>
      <div class='w-full h-full'>
        <img src={heroImage.src} alt='' width='100vw' height='100vh' class='w-full h-full object-contain' />
      </div>
      <Links />
    </MainLayout>
  </body>
</html>
