---
import Links from '../components/Links.astro';
import heroImage from '../assets/pm_hero.jpg';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class='w-full h-full'>
    <img
      src={heroImage.src}
      alt=''
      width='100vw'
      height='100vh'
      class='w-full h-full object-contain pointer-events-none'
    />
  </div>
  <Links />
</MainLayout>
