---
import Link from './ui/Link.astro';
---

<div class='relative bottom-40'>
  <nav class='flex flex-row justify-center items-center gap-12 text-xs sm:text-sm md:text-xl'>
    <Link to='https://github.com/s0rus' title='GITHUB' />
    <Link to='https://www.linkedin.com/in/piotrmol/' title='LINKEDIN' />
    <Link to='/projects' title='PROJECTS' type='internal' />
  </nav>
</div>
