---
import { CollectionEntry, getCollection } from 'astro:content';
import Link from '../../components/ui/Link.astro';
import ProjectsListLayout from '../../layouts/ProjectsListLayout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<'projects'>;

const projectObj = Astro.props;
const { Content } = await projectObj.render();
const { title } = projectObj.data;
---

<ProjectsListLayout>
  <Link to='/projects' title='go back' type='internal' iconBefore={true} />
  <h1 class='text-4xl mt-8 mb-4'>{title}</h1>
  <div class='mt-2'></div>
  <article class='prose prose-invert font-[Poppins]'>
    <Content />
  </article>
</ProjectsListLayout>
