---
import { CollectionEntry, getCollection } from 'astro:content';
import Link from '../../components/ui/Link.astro';
import ProjectsListLayout from '../../layouts/ProjectsListLayout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<'projects'>;

const projectObj = Astro.props;
const { Content } = await projectObj.render();
const { title, repoUrl, demoUrl } = projectObj.data;
---

<ProjectsListLayout>
  <nav class='flex flex-row justify-between w-full'>
    <Link to='/projects' title='go back' type='internal' iconBefore={true} />
    <div class='flex flex-row gap-2'>
      <Link to={repoUrl} title='repo' type='external' />
      {demoUrl && <Link to={demoUrl} title='demo' type='external' />}
    </div>
  </nav>
  <h1 class='text-4xl mt-8 mb-4'>{title}</h1>
  <div class='mt-2'></div>
  <article class='prose prose-invert'>
    <Content />
  </article>
</ProjectsListLayout>

<style>
  article,
  article * {
    font-family: 'Poppins', sans-serif;
  }
</style>
