---
import { getCollection } from 'astro:content';
import ProjectsListLayout from '../../layouts/ProjectsListLayout.astro';
import Link from '../../components/ui/Link.astro';

const projects = await getCollection('projects');
---

<ProjectsListLayout>
  <Link to='/' title='go back' type='internal' iconBefore={true} />
  <h1 class='text-4xl mt-8 mb-4'>PROJECTS:</h1>
  <ul class='self-start flex flex-col gap-4 items-start'>
    {
      projects.map((project) => (
        <li>
          <Link to={`/projects/${project.slug}/`} title={project.data.title} type='internal' classes='uppercase' />
        </li>
      ))
    }
  </ul>
</ProjectsListLayout>
