---
import { ToastProvider } from "../lib/toast-provider";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body>
    <main
      class="max-w-screen container relative flex h-screen max-h-screen flex-col pt-8"
    >
      <slot />
      <ToastProvider client:load />
    </main>
  </body>
</html>
