---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE_ERROR } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE_ERROR} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class='h-screen w-screen flex flex-col justify-center container'>
      <slot />
    </main>
  </body>
</html>
