---
import BaseHead from "../components/base-head.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../lib/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main
      class="max-w-screen container relative flex h-screen max-h-screen flex-col"
    >
      <slot />
    </main>
  </body>
</html>
