---
import {
  CANONICAL_URL,
  SITE_DESCRIPTION,
  SITE_TITLE_PROJECTS,
} from "../lib/consts";
import Metadata from "../lib/metadata.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata
      title={SITE_TITLE_PROJECTS}
      description={SITE_DESCRIPTION}
      canonicalUrl={CANONICAL_URL}
      image="/og-portfolio.png"
      type="website"
    />
  </head>
  <body>
    <main
      class="max-w-screen container relative flex h-screen max-h-screen flex-col pt-8"
    >
      <slot />
    </main>
  </body>
</html>
