---
import { Icon } from "./icon";
interface Props {
  to: string;
  title: string;
  type?: "external" | "internal";
  iconBefore?: boolean;
  classes?: string;
}

const {
  to,
  title,
  type = "external",
  classes,
  iconBefore = false,
} = Astro.props;
const isExternal = type === "external";
---

<a
  href={to}
  target={isExternal ? "_blank" : "_self"}
  rel="noreferrer noopener"
  class={[
    "hover:tracking-[0.2rem] transition-all ease-in-out text-white font-bold",
    classes,
  ].join(" ")}
>
  <div class={`flex flex-row items-center border-b-2 ${!iconBefore && "pl-2"}`}>
    {
      iconBefore ? (
        <>
          {isExternal ? (
            <Icon.arrowUpRight className="w-4 h-4 ml-2" />
          ) : (
            <Icon.arrowRight className="w-4 h-4 ml-2" />
          )}
          <span>{title}</span>
        </>
      ) : (
        <>
          <span>{title}</span>
          {isExternal ? (
            <Icon.arrowUpRight className="w-4 h-4 ml-2" />
          ) : (
            <Icon.arrowRight className="w-4 h-4 ml-2" />
          )}
        </>
      )
    }
  </div>
</a>
