---
import arrowUpRight from '../../assets/arrow-up-right.svg';
import arrowRight from '../../assets/arrow-right.svg';

interface Props {
  to: string;
  title: string;
  type?: 'external' | 'internal';
  iconBefore?: boolean;
  classes?: string;
}

const { to, title, type = 'external', classes, iconBefore = false } = Astro.props;
const isExternal = type === 'external';
---

<a
  href={to}
  target={isExternal ? '_blank' : '_self'}
  rel='noreferrer noopener'
  class={['hover:tracking-[0.2rem] transition-all ease-in-out text-white font-[Poppins] font-bold', classes].join(' ')}
>
  <div class={`flex flex-row items-center border-b-2 ${!iconBefore && 'pl-2'}`}>
    {
      iconBefore ? (
        <>
          <img src={isExternal ? arrowUpRight.src : arrowRight.src} alt='' class='w-4 h-4 ml-2 rotate-180' />
          <span>{title}</span>
        </>
      ) : (
        <>
          <span>{title}</span>
          <img src={isExternal ? arrowUpRight.src : arrowRight.src} alt='' class='w-4 h-4 mr-2' />
        </>
      )
    }
  </div>
</a>
